html, body {
  background-color: #ffffff!important;
  height: 100%;
  overflow: hidden;
}

.spacer {
  height: 1px;
  background-color: #cccccc;
}

.window {
  margin: 0 auto 0 auto;
  padding: 30px;
  background-color: #ffffff;
  overflow:auto;
  padding-bottom:60px;
}

.dax-img {
  position: absolute;
  bottom: 60px;
  right: -60px;
}

.dax-text {
  position: absolute;
  bottom: 350px;
  right: 30px;
  font-size: 180%;
  font-family: 'Rock Salt', cursive;
  z-index: 5;
}

.bottom {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:20px;
}

.copyright {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 0.75rem;
}
