html, body {
  background-color: #ffffff!important;
  overflow: hidden;
  height: 100%;
}

.topper {
  z-index: 800 !important;
}

.spacer {
  height: 1px;
  background-color: #cccccc;
}

.desktop {
  height: 100%;
}

.window {
  margin: 0 auto 0 auto;
  padding: 30px;
  height: 100%
  background-color: #ffffff;
  padding-bottom:60px;
  overflow: auto;
}

.dax-img {
  position: fixed;
  bottom: 60px;
  right: -60px;
}

.dax-text {
  position: absolute;
  bottom: 350px;
  right: 30px;
  font-size: 180%;
  font-family: 'Rock Salt', cursive;
  z-index: 5;
}

.bottom {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  clear:both;
}

.copyright {
  text-align: center;
  margin: auto;
  padding: 20px;
  font-size: 0.75rem;
}
